*{
    margin: 0;
    box-sizing: border-box;
}

/* ID selectors */

#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

#me{
    max-width: 300px;
}

#exp-imgs{
    max-width: 150px;
    height: 150px;
}

#projects,
#contact-icons,
#schools{
    max-width: 200px;
    max-height: 200px;
}

#proj-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

#contact-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding: 60px;
}

#exp-inner{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

#calc{
    margin-top: 10px; 
    border: #18783e solid 3px; 
    background-color: #1c213d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#calc h3{
    color: white;
}

#calc-vals{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    gap: 2px;
}

#circle-list{
    list-style-type: circle;
}

#square-list{
    list-style-type: square;
}

/* Element selectors */

body{
    height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: #1c213d;
    color: #ffffff;
}

h2{
    text-align: center;
    padding-bottom: 10px;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

nav{
    background-color: #18783e;
    width: 30%;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    font-size: calc(2px + 2vw);
    padding-left: 0;
}

nav li{
    background-color: #90f0b6;
    width: 80%;
    padding: 2vh 0;
    margin: 1vh auto;
    border-radius: 20px;
    border: white solid 2px;
}

nav li:hover{
    background-color: #1c213d;
}

nav li:hover a{
    color: #ffffff;
}

nav a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
    background-color: #d3f0f5;
    padding: 12px;
    overflow: visible;
}

footer{
    background-color: #1c213d;
    color: white;
    text-align: center;
}

@media screen and (max-width: 750px) {
    header{
        align-items: center;
    }

    #container{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        list-style: none;
    }

    nav li{
        text-align: center;
        border-radius: 0px;
        border: none;
    }

    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        overflow: visible;
    }

    #contact-icons{
        width: 150px;
        height: 150px;
    }
}